<%- include("./components/header")%>
    <div class="container">
        <h1 class="mb-4">Welcome to our community</h1>
        <h5>Update your question</h5>
        <form action=/question/edit/<%= result._id %> method = "POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Title</label>
              <textarea  name="title" id="title" class="form-control"><%= result.title %></textarea>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Message</label>
              <textarea name="message" class="form-control" id="message"><%= result.message %></textarea>
            </div>
            <a href=/question/<%= result._id%> class="btn btn-outline-dark">Return</a>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
    </div>
    <%- include("./components/footer")%>