<%- include('./components/header')%>
<link rel="stylesheet" href="/public/style.css">

<div class="add">
    <a href="/addQuestion" class="btn add">Add question</a>
</div> <br>
<div class="content">
  <% if (result.length> 0 ) {%>
    <% result.forEach(element=> { %>
  <div class="card add-question anim">
    <div class="card-body card-body-overflow">
      <h5 class="card-title card-title-overflow"><%= element.title %></h5>
                <p class="card-text card-text-overflow mb-2"><%= element.message %></p>
                <p class = "date"><%= element.createdAt.toLocaleDateString() %></p>
                <a class="card-link see-more" href=/question/<%= element._id%> >See more</a>
   </div>
 </div>
 <% }); %>
 <% } else { %>
     there are no messages....
<% } %>
</div>
<%- include('./components/footer')%>
 