<%- include('./components/header')%>
<div class="container">
    <% if (result) { %>
        <div class="card">
            <div class="card-body">
              <h1></h1>
              <h5 class="card-title"><%= result.title %></h5>
              <p class="card-text"><%= result.message %></p>
              <a href=/question/edit/<%= result._id%> class="btn btn-outline-dark">Edit</a>
              <a href=/question/delete/<%= result._id%> class="btn btn-outline-dark">Delete</a>
              <a href="/" class="btn btn-outline-dark">Go home</a>
            </div>
          </div>
        <% } else { %>
                there is no record
    <% } %>
 </div>
 <div class="card card-question">
  <div class="card-body">
      <form action="/add/<%= result._id%>/comments" method="POST">
          <div class="mb-3">
          <label for="comment" class="form-label">Add Comment</label>
          </div>
          <div class="mb-3">
            <input type="text" name="email" placeholder="email" required>
            </div>
          <div class="mb-3">
          <textarea name="comment" class="form-control" id="comment" placeholder="Enter your comment" required></textarea>
          </div>
          <button class="btn btn-primary">Add Comment</button>
      </form>
  </div>
</div>
<ul>
  <% if(result.comments.length > 0) { %>
      <% result.comments.forEach( comment => { %>
        <% console.log(comment) %> 
        <div class="card">
          <div class="card-body">
              <p><%= comments.comment %></p>
              <p><%= comments.author %></p>
              <p><%= comments.createdAt.toLocaleDateString() %></p>
                <form action="//create" method="POST">
                    <button class="btn btn-warning">Delete</button>
                </form>
          </div>
        </div>
      <% }) %>
  <% } %>
</ul>
<%- include('./components/footer')%>