<%- include('./components/header')%>
<link rel="stylesheet" href="/public/style.css">
<div class="one-container">
     <% if (result) { %>
        <div class="card one-card">
            <div class="card-body">
              <h1></h1>
              <h5 class="card-title"><%= result.title %></h5>
              <p class="card-text"><%= result.message %></p>
              <% if(user._id.toString() === result.user._id.toString() )   { %>
                <a href=/question/edit/<%= result._id%> class="btn">Edit</a>
                <a href=/question/delete/<%= result._id%> class="btn">Delete</a>
              <% }%>
            </div>
         </div>
        <% } else { %>
                there is no record
     <% } %>
<p>Comments:</p>
     <ul>
      <% if(result.comments.length > 0) { %>
          <% result.comments.forEach( comment => { %>
            <div class="card">
              <div class="card-body card-body-comment">
                <p class="comment-email"><%= comment.email %></p>
                  <p><%= comment.comment %></p>
                  <p><% (new Date( comment.createdAt )).toLocaleDateString() %></p>
                  <% if(user._id.toString() === result.user._id.toString())  { %>
                    <form action="/delete/<%= comment._id %>/<%= result._id %>/comment" method="POST">
                        <button class="btn">Delete</button>
                    </form>
                  <% } %> 
              </div>
            </div>
          <% }) %>
      <% } %>
    </ul>
    
    <div class="mb-2">
      <label for="comment" class="form-label">Add Comment</label>
    </div>
      <form action="/add/<%= result._id%>/comments/comments/create" method="POST">
          <div class="mb-1">
            <input type="text" name="email" class="form-control" placeholder="email" required>
          </div>
            <textarea name="comment" class="form-control" id="comment" placeholder="Enter your comment" required></textarea>
          <button class="btn">Add Comment</button>
      </form>
  
    </div>

<%- include('./components/footer')%>